*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
header{
    background-image: url("https://thehouseofthings.com/pub/media/wysiwyg/NOV_BANNER_2_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
    
}
nav{
    padding: 1% 8%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2% 4%; */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 8px 30px -20px #111;
}
h1{
    font-size: 250%;
    
}
.quote p{
    font-size: 100%;
}
.logo{
    font-size: larger;
    font-weight: bolder;
    color: black;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: large;
    padding-bottom: 10px;
    line-height: 2;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    padding-right: 40px;
    margin: 0 10px;
    /* border-bottom: 2px solid black; */
    
    /* transition: border-width 1s; */
}
nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background: #000;
    transition: width .3s;
}
nav ul li:hover::after {
    width: 100%;
    /* transition: width .3s; */
}
.quote{
    padding-left: 10%;
    padding-top: 20%;
    font-size: larger;
}
.buybtn{
    background-color: white;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 10px;
}
h2{
    padding: 6% 10% 4%;
    text-align: center;
    font-size: 30px;
}
.mycart img{
    width: 35px;
    align-items: center;
}
.mycart{
    margin: 0 20px;

}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------- */


.paintings-list{
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(205, 205, 205); */
    
    padding: 0 7%;
}
.h{
    width: 10px;
}
.image img{
    margin: 10px 30px;
}
.body{
    background-color: rgb(237, 237, 237);
}
.trending-painting{
    padding-bottom: 5%;
}
/*
.like-btn{
    position: absolute;
    top: 2%;
    right: 2%;
} */
.painting{
    margin: 21px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* width: 30%; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.painting .image img{
    margin-top: 35px;
    display: block;
    max-width: 15vw;
    border-radius: 5px;
    transition: transform .5s;
}
.painting .image img:hover{
    transform: translateY(-10px);
}

.painting-details{
    display: inline-block;
    padding: 10px;
    /* background-color: rgb(222, 222, 222); */
}
table{
    margin: 10px ;
    width: 90%;
}
.artname{
    font-weight:900;
    /* background-color:black; */
}
/* --------------------------- */
.artist{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    padding: 10px 8% 5%;
}
.Artists{
    background-color: rgb(45, 45, 45);
    color: #fff;
}
.artist-img{
    overflow: hidden;
    margin: 20px;
    position: relative;
    text-decoration: none;
    /* color: white; */
    border-radius: 30px;
    margin: 4%;
}
.artist img{
    width: 100%;
    margin: 0;
    height: 100%;
}
.artist-details{
    padding: 35% 10% 10%;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0),rgb(0, 0, 0, 0.5));
    /* background-color: rgb(0, 0, 0, 0.3); */
    position: absolute;
    top: 100%;
    /* transform: translate(-50%, -50%); */
    transition: top .5s;
}
.artist-img:hover .artist-details{
    top: 0;
}
.artist-img:hover{

}
hr{
    margin: 5% 7% 2%;
}
footer{
    width: 100%;
    color: white;
    /* background-color: rgb(54, 54, 54); */
    /* background-image: url("images/foot-bg.jpg"); */
    background-image: url("https://thehouseofthings.com/pub/media/wysiwyg/NOV_BANNER_3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 33%;
}
footer h3{
    padding: 10px 0;
}
.row{
    display: flex;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333333%;
}
.col-6{
    width: 50%;
}
ul{
    list-style: none;
    /* text-align: center; */
}
footer li{
    padding: 5px 10px;
}
.email{
    outline: none;
    
}
.copyright{
    text-align: center;
    padding: 3% 0 0;
    font-size: 15px;
}
footer .logo{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.bgc{
    padding: 5% 5% 1%;
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(10px); */
}


/* Testimonials */

.testimonials{
    padding: 5%;
    background-color: rgb(229, 229, 229);
}
.testimonials .row{
    align-items: center;
    justify-content: center;
}
.test{
    margin: 2%;
    /* border: 1px solid black; */
    text-align: center;
    position: relative;
    border-radius: 0px;
    border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  7px 7px 15px #c4c4c4,
                 -7px -7px 15px #ffffff;
}
.review, .rating{
    padding: 30px;
}
.review{
    /* background-color: rgb(47, 47, 47); */
    background-image: linear-gradient(rgba(71, 71, 71),rgb(0, 0, 0));
    padding-bottom: 15%;
    color: white;
}
.rating{
    padding-top: 15%;
    background-color: #fff;
}
.user-img{
    border-radius: 100%;
    border: 5px solid white;
    position: absolute;
    left: 37%;
    top: 50%;
    overflow: hidden;
}
.user-img img{
    border-radius: 100%;
    width: 100px;
}